<h1 style="text-align: center; margin-top: 15px;">Confirmação de presença</h1><br>
<p style="text-align: center;">Faça parte da nossa história de amor, confirme sua presença.</p>

<form class="row g-0" style="height: 400px; width: 330px; margin-top: 2px; margin-left: 400px;">
    <div class="row g-1">
        <div class="col-md-12" style="margin-top: 10px; margin-bottom: 0px;">
            <input type="text" class="form-control form-control-sm" id="inputAddress2" placeholder="Nome Completo" aria-label=".form-control-sm example">
        </div>
      <fieldset>
        <legend class="col-form-label col-sm-10 pt-0">Você irá ao evento?</legend>
        <div class="col-sm-5">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Sim
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Não
            </label>
          </div>
        </div>
      </fieldset>
        <div class="col-md-6" style="width: 80px;">
        <input type="email" class="form-control form-control-sm" id="inputDD" placeholder="DD" aria-label=".form-control-sm example">
        </div>   
        <div class="col-md-6" style="width: 204px;">
        <input type="text" class="form-control form-control-sm" id="inputCity" placeholder="Telefone" aria-label=".form-control-sm example">
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control form-control-sm" id="inputEmail" placeholder="E-mail" aria-label=".form-control-sm example">
        </div>
    </div>   
    <div class="col-15">
      <button  type="submit" class="btn btn-primary">Confirmar Prensença</button>
    </div>
  </form>